body
{
  margin: 50px 0;
}
.header
{
  text-align: center;
  color:rgba(10, 99, 31, 0.8);
  margin: 0 0 35px 0;
}
ul
{
  list-style-type: none;
  padding: 10px 0 0 0;
}
ul li
{
  font-size: 20px;
}
ul li:hover
{
  cursor: pointer;
}
#map
{
  height: 700px;
}
@media only screen and (max-width: 787px) {
    ul li {
        text-align: center;
        font-size: 19px;
    }
    .list-group-item {
      padding: 9px;
    }
    #map
  {
    height: 750px;
  }
}